html, body {
  background-color: white;
}
#content > * {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#content > p,
#content > ul.p-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.back-button {
  position: fixed;
  top: 5.5rem;
  right: 1.5rem;
  z-index: 9;
  min-width: 3.5rem;
  min-height: 3.5rem;
  font-weight: 900;
}
.back-button:before, .back-button:after {
  position: absolute;
  left: 1,5625rem;
  content: ' ';
  height: 2.625rem;
  width: 2px;
  background-color: black;
}
.back-button:before {
  transform: rotate(45deg);
}
.back-button:after {
  transform: rotate(-45deg);
}

.p-list {
	margin-top: 0;
	margin-bottom: 0;
}
.p-list > li {
	padding-bottom: .5rem;
}
.p-list > li:last-of-type {
	padding-bottom: 0;
}

.screenshot {
	display: block;
	overflow: hidden;
	border: 2px solid black;
	flex-basis: calc(100% / 3 - 2 * 2rem);
	flex-grow: 1;
}
.screenshots {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 2rem;
}
.figure-legend {
	display: block;
	font-style: italic;
}
.figure-legend strong {
  font-style: initial;
}

@media only screen and (width < 48rem) {
  #content {
    padding-top: 9rem;
  }
  .screenshot {
    flex-basis: calc(100% / 2 - 2rem);
  	flex-grow: 1;
  }
}
