:root {
	--color-porcelaine-blush: #FCF1EC;
	--color-lavender-frost: #C99AE8;
	--color-tropical-mint: #77DCD3;
	--color-sunbeam-gold: #F9E353;

	--color-porcelaine-blush-75: rgba(252, 241, 236, .75);
	--color-porcelaine-blush-50: rgba(252, 241, 236, .50);
	--color-porcelaine-blush-25: rgba(252, 241, 236, .25);

	--size-body-width: 58rem;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body {
    background-color: var(--color-porcelaine-blush);
    color: black;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0%;
    vertical-align: middle;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}


::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


h1, h2, h3, h4, h5 {
	font-family: "Unbounded", sans-serif;
  font-style: normal;
	font-weight: 400;
	display: block;
	margin: 0;
}

h1 {
	font-size: 4rem;
	font-weight: 600;
}
h2 {
	font-size: 2rem;
	font-weight: 600;
}
h3 {
	font-size: 1.5rem;
	font-weight: 400;
}

img {
	width: 100%;
	height: 100%;
}

body > section,
body > footer {
	padding: 6rem 1.5rem;
	position: relative;
}
body > section:first-of-type {
	padding-top: 8rem;
}

body > section > *,
body > footer > section {
	width: 100%;
	max-width: var(--size-body-width);
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

p, ul, span {
  font-size: 1.25rem;
}
p {
	margin: 0 0 1rem 0;
}
p > strong {
	font-weight: 600;
}
p .quote {
  display: block;
  font-family: "Unbounded", sans-serif;
  font-size: 1.5rem;
	font-weight: 400;
	margin-top: 2rem;
}
.button {
	display: flex;
	inline-size: fit-content;
	cursor: pointer;
	box-sizing: border-box;
	align-items: center;
	background: var(--color-sunbeam-gold);
	color: black;
	border: 2px solid black;
	padding: .75rem;
	font-size: 1.25rem;
	font-weight: 500;
	justify-content: center;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
	text-decoration: none;
	box-shadow: 0px 0px 0 0 black;
	transition-property: box-shadow, transform, background-color;
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-duration: .25s;
  transition-delay: 0s;
}
.button:hover {
  box-shadow: .25rem -.25rem 0 0 black;
  transform: translate(-.25rem, .25rem);
}
.button:active {
  background-color: var(--color-tropical-mint);
}


/* Navigation */
.nav {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: visible;
	justify-content: space-between;
  transition: top .35s;
  z-index: 10;
	background-color: white;
	border-bottom: 2px solid black;
}
.nav,
.nav .menu{
	display: flex;
	align-items: center;
}
.nav .menu {
  overflow: visible;
}

.nav #menu-toggle {
	display: none;
}

.menu-toggle__bar1, .menu-toggle__bar2, .menu-toggle__bar3 {
	width: 2.625rem;
	height: 2px;
	background-color: black;
	margin: 5px 0;
	transition: 0.3s;
}
.menu-toggle--open .menu-toggle__bar1 {
	transform: translate(0, 7px) rotate(-45deg);
}
.menu-toggle--open .menu-toggle__bar2 {
	opacity: 0;
}
.menu-toggle--open .menu-toggle__bar3 {
	transform: translate(0, -7px) rotate(45deg);
}

.logo{
	font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
	font-size: 1.5rem;
  font-style: normal;
	color: black;
	text-decoration: none;
	line-height: normal;
	margin-right: auto;
	font-weight: 700;
	padding: 1rem 1.5rem;
}
.nav .nav-item {
  font-family: "Work Sans", sans-serif;
  font-size: 1.25rem;
	font-weight: 500;
	height: 3.875rem;
	justify-content: center;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  cursor: pointer;
	box-sizing: border-box;
	align-items: center;
	background: var(--color-sunbeam-gold);
	color: black;
	text-decoration: none;
	padding: 1rem;
  transition-property: box-shadow, transform, border, background-color;
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-duration: .25s;
  transition-delay: 0s;
  border: 0 solid black;
	border-left: 2px solid black;
	box-shadow: 0px 0px 0 0 black;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.nav .nav-item:hover {
  border: 2px solid black;
  box-shadow: .25rem -.25rem 0 0 black;
  transform: translate(-.25rem, .25rem);
  transition-delay: 0s, 0s, 0s, 0s;
}
.nav .nav-item:active {
  background-color: var(--color-tropical-mint);
}

#page-footer {
	background-color: black;
	padding: 0;
}
#page-footer a {
	color: var(--color-sunbeam-gold);
	text-decoration: none;
	font-size: 8rem;
	font-weight: 800;
	display: block;
	text-align: center;
	padding: 3rem 1.5rem;
	background-color: black;
  border-top: solid black 2px;
}
#page-footer a:hover {
  background-color: var(--color-sunbeam-gold);
  color: black;
}
#page-footer a:active {
  background-color: var(--color-tropical-mint);
}
#page-footer a::after {
  display: block;
  content: ' ';
  font-size: 1rem;
  font-weight: 400;
  margin-top: -2rem;
}
#page-footer a:hover::after {
  content: 'Click to copy my email address.';
}
#page-footer .tooltip {
  /* triangle dimension */
  --a: 90deg; /* angle */
  --h: 1em; /* height */

  --p: 50%; /* triangle position (0%:left 100%:right) */
  --b: 2px; /* border width */

  display: block;
  background-color: var(--color-tropical-mint);
  text-align: center;
  font-weight: 600;


  padding: 1em;
  clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
    min(100%,var(--p) + var(--h)*tan(var(--a)/2)) 100%,
    var(--p) calc(100% + var(--h)),
    max(0%  ,var(--p) - var(--h)*tan(var(--a)/2)) 100%);
  border-image: fill 0//var(--h) 0
    conic-gradient(black 0 0); /* the border color */

  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
}
#page-footer .tooltip::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: var(--b) 0;
  clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
    min(100% - var(--b),var(--p) + var(--h)*tan(var(--a)/2) - var(--b)*tan(45deg - var(--a)/4)) 100%,
    var(--p) calc(100% + var(--h) + var(--b)*(1 - 1/sin(var(--a)/2))),
    max(       var(--b),var(--p) - var(--h)*tan(var(--a)/2) + var(--b)*tan(45deg - var(--a)/4)) 100%);
  border-image: fill 0/0 var(--b)/var(--h) 0
    conic-gradient(var(--color-tropical-mint) 0 0); /* the background color */
}


/***********************************
		RESPONSIVE MEDIA QUERIES
*********************************/

@media only screen and (width < 48rem) {
	body > section:first-of-type {
		padding-top: 6rem;
	}
	body > section, body > footer {
		padding: 3rem 1.5rem;
	}
	h1 {
		font-size: 7.3vw;
	}
	h2 {
		font-size: 1.6rem;
	}
	h3 {
		font-size: 1.3rem;
	}
	p, ul, span {
	  font-size: 1.125rem;
	}

	.nav {
	  /* padding: 1rem 0 1rem 1.5rem; */
	}
	.logo {
	  padding: 1rem 1.5rem;
	}
	.nav .menu {
		float: right;
		display: flex;
    flex-direction: column;
    align-items: flex-end;
	}
	.nav .nav-item {
		display: none;
		border-left: 0;
		border-top: 2px solid black;
	}
	.nav a#menu-toggle {
		display: block;
		height: 3.875rem;
	  background: var(--color-sunbeam-gold);
		padding: 1.2rem .55rem 1rem .55rem;
		border-left: 2px solid black
	}
	.nav.nav--open, .nav.nav--open .menu {
	  display: block;
	}
	.nav.nav--open #menu-toggle {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav.nav--open {
	  padding: 0;
	}
	.nav.nav--open .logo {
    padding: 1rem 0 1rem 1.5rem;
	}
	.nav.nav--open .menu {
	  width: 100%;
	}
	.nav.nav--open .nav-item {
	  width: 100%;
	}
	.nav.nav--open a {
		float: none;
		display: block;
	}

	#page-footer a {
    font-size: 16vw;
  }
  #page-footer a::after {
    margin-top: -1rem;
  }
	#page-footer a::after {
    content: 'Tap to copy my email address.';
  }
  #page-footer a:hover::after {
    content: 'Tap to copy my email address.';
  }
}


/********************************
	HELPERS
********************************/

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*
.m_vertical-s {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.m_horizontal-s {
	margin-left: 1rem;
	margin-right: 1rem;
}
.m_top-s {
	margin-top: 1rem;
}
.m_bottom-s {
	margin-bottom: 1rem;
}
.m_left-s {
	margin-left: 1rem;
}
.m_right-s {
	margin-right: 1rem;
}

.m_vertical-m {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.m_horizontal-m {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
.m_top-m {
	margin-top: 1.5rem;
}
.m_bottom-m {
	margin-bottom: 1.5rem;
}
.m_left-m {
	margin-left: 1.5rem;
}
.m_right-m {
	margin-right: 1.5rem;
}

.m_vertical-l {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.m_horizontal-l {
	margin-left: 2rem;
	margin-right: 2rem;
}
.m_top-l {
	margin-top: 2rem;
}
.m_bottom-l {
	margin-bottom: 2rem;
}
.m_left-l {
	margin-left: 2rem;
}
.m_right-l {
	margin-right: 2rem;
}

.m_vertical-xl {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.m_horizontal-xl {
	margin-left: 3rem;
	margin-right: 3rem;
}
.m_top-xl {
	margin-top: 3rem;
}
.m_bottom-xl {
	margin-bottom: 3rem;
}
.m_left-xl {
	margin-left: 3rem;
}
.m_right-xl {
	margin-right: 3rem;
}

.m_vertical-xxl {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.m_horizontal-xxl {
	margin-left: 4rem;
	margin-right: 4rem;
}
.m_top-xxl {
	margin-top: 4rem;
}
.m_bottom-xxl {
	margin-bottom: 4rem;
}
.m_left-xxl {
	margin-left: 4rem;
}
.m_right-xxl {
	margin-right: 4rem;
}

.m_vertical-3xl {
	margin-top: 6rem;
	margin-bottom: 6rem;
}
.m_horizontal-3xl {
	margin-left: 6rem;
	margin-right: 6rem;
}
.m_top-3xl {
	margin-top: 6rem;
}
.m_bottom-3xl {
	margin-bottom: 6rem;
}
.m_left-3xl {
	margin-left: 6rem;
}
.m_right-3xl {
	margin-right: 6rem;
}
*/


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Fade-In animation on page load */
@keyframes fadeinall {
	0% {
		opacity: 1;
	}
	97% {
		opacity: 0;
	}
	98% {
		opacity: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		z-index: -1;
	}
}
