#hero {
  background-image:
    url("../img/decorations/star-11-white.png"),
    url("../img/decorations/ellipse-top-half-white.png");
  background-position:
    calc(50% + 25rem) 35%,
    calc(50% - 30rem) 100%;
  background-repeat: no-repeat;
  background-size: 25rem, 20rem;
}
#hero .hero-img > img {
  display: block;
  width: 20rem;
}
#hero .hero-text {
  display: block;
  text-align: right;
  overflow: visible;
  top: 0;
}
#hero .mindset {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 6rem;
  display: inline-block;
  width: auto;
  text-wrap: nowrap;
  transform-origin: bottom left;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-duration: .25s;
}
@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes shadow-splash-animation {
  0% {
    text-shadow:
      rgb(0, 0, 0) 2px 0px 0px,
      rgb(0, 0, 0) 1.75517px 0.958851px 0px,
      rgb(0, 0, 0) 1.0806px 1.68294px 0px,
      rgb(0, 0, 0) 0.141474px 1.99499px 0px,
      rgb(0, 0, 0) -0.832294px 1.81859px 0px,
      rgb(0, 0, 0) -1.60229px 1.19694px 0px,
      rgb(0, 0, 0) -1.97998px 0.28224px 0px,
      rgb(0, 0, 0) -1.87291px -0.701566px 0px,
      rgb(0, 0, 0) -1.30729px -1.5136px 0px,
      rgb(0, 0, 0) -0.421592px -1.95506px 0px,
      rgb(0, 0, 0) 0.567324px -1.91785px 0px,
      rgb(0, 0, 0) 1.41734px -1.41108px 0px,
      rgb(0, 0, 0) 1.92034px -0.558831px 0px,
      0rem 0rem var(--color-tropical-mint),
      0rem 0rem black;
  }
  100% {
    text-shadow:
      rgb(0, 0, 0) 2px 0px 0px,
      rgb(0, 0, 0) 1.75517px 0.958851px 0px,
      rgb(0, 0, 0) 1.0806px 1.68294px 0px,
      rgb(0, 0, 0) 0.141474px 1.99499px 0px,
      rgb(0, 0, 0) -0.832294px 1.81859px 0px,
      rgb(0, 0, 0) -1.60229px 1.19694px 0px,
      rgb(0, 0, 0) -1.97998px 0.28224px 0px,
      rgb(0, 0, 0) -1.87291px -0.701566px 0px,
      rgb(0, 0, 0) -1.30729px -1.5136px 0px,
      rgb(0, 0, 0) -0.421592px -1.95506px 0px,
      rgb(0, 0, 0) 0.567324px -1.91785px 0px,
      rgb(0, 0, 0) 1.41734px -1.41108px 0px,
      rgb(0, 0, 0) 1.92034px -0.558831px 0px,
      -0.5rem 0.5rem var(--color-tropical-mint),
      -1rem 1rem black;
  }
}
#hero .mindset h1 {
  animation-name: slide-in-from-left, shadow-splash-animation;
  animation-timing-function: cubic-bezier(.645,.045,.355,1);
  animation-iteration-count: 1;
  animation-duration: .5s, .5s;
  animation-delay: 0s, .6s;
  animation-fill-mode: both;
}
#hero .mindset h1 + h1 {
  animation-duration: .55s, .5s;
}
#hero .mindset h1 + h1 + h1 {
  animation-duration: .6s, .5s;
}
.shadow-splash {
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
  text-shadow:
    rgb(0, 0, 0) 2px 0px 0px,
    rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px,
    rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px,
    rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px,
    -0.5rem 0.5rem var(--color-tropical-mint),
    -1rem 1rem black;
}

#about {
  background-color: white;
  background-image: url("../img/decorations/ellipse-bottom-half-sand.png");
  background-position: calc(50% - 30rem) 0;
  background-repeat: no-repeat;
  background-size: 20rem;
}

.references {
  display: flex;
  grid-gap: 3.5rem;
  align-items: flex-start;
  flex-wrap: wrap;
}
.ref-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.ref-item_author {
  display: flex;
  grid-gap: 1.5rem;
  align-items: center;
}
.ref-item_avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  border: 2px solid black;
}
.ref-item_from_name,
.ref-item_from_role {
  display: block;
}
.ref-item_from_name {
  font-size: 1.5rem;
  font-weight: 600;
}
.ref-item_from_role {
  font-size: 1rem;
  font-weight: 400;
}
.ref-item.primary-ref {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
}
.ref-item.primary-ref .ref-item_quote {
  font-family: "Unbounded", sans-serif;
  font-size: 3rem;
}

#approach {
  background-image: url("../img/decorations/star-4-white.png");
  background-position: calc(50% - 30rem) 10rem;
  background-repeat: no-repeat;
  background-size: 16rem;
}

@keyframes lavender-frost-textured-title-animation {
  from {
    transform: translate(.5rem, .5rem);
    -webkit-filter: drop-shadow(-.5rem -.5rem var(--color-tropical-mint));
    filter: drop-shadow(-.5rem -.5rem var(--color-tropical-mint));
  }
  to {
    transform: translate(0, 0);
    -webkit-filter: drop-shadow(0 0 var(--color-tropical-mint));
    filter: drop-shadow(0 0 var(--color-tropical-mint));
  }
}

.lavender-frost-textured-title {
  color: var(--color-lavender-frost);
  background: url(../img/decorations/lavender-frost-texture.png) repeat center center;
  background-size: 25%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 6rem;
  letter-spacing: -0.03em;
  line-height: 6.25rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
  z-index: 1;
  animation: lavender-frost-textured-title-animation ease-in-out both;
  animation-timeline: view(block);
  animation-duration: 1ms;
  animation-range: contain 20% contain 60%;
}

#approach .intro {
  background-color: white;
  width: 26.5rem;
  padding: 3.5rem;
  position: absolute;
  right: 0rem;
  top: -9rem;
  margin-bottom: 0;
}
#approach .principle:first-of-type {
  margin-top: 16rem;
}
#approach .principle {
  position: relative;
  z-index: 0;
  margin-bottom: 4rem;
}
#approach .principle:last-of-type {
  margin-bottom: 0;
}
#approach .principle h2 {
  margin-bottom: 2rem;
}
#approach span.shadow-splash {
  font-size: 8rem;
  position: absolute;
  z-index: -1;
  top: -1.5rem;
  animation: shadow-splash-animation ease-in-out both;
  animation-timeline: view(block);
  animation-range: contain 20% contain 60%;
}
#approach .principle p {
  width: 80%;
}
#approach .principle:nth-child(odd) h2{
  text-align: right;
}
#approach .principle:nth-child(odd) span.shadow-splash{
  right: 0;
}
#approach .principle:nth-child(even) p{
  margin-left: 20%;
}

#work {
  background-color: white;
}
@keyframes shadow-spread-animation {
  0% {
    text-shadow:
      0rem 0rem var(--color-porcelaine-blush),
      0rem 0rem var(--color-porcelaine-blush-75),
      0rem 0rem var(--color-porcelaine-blush-50),
      0rem 0rem var(--color-porcelaine-blush-25);
  }
  25% {
    text-shadow:
      -5rem 3rem var(--color-porcelaine-blush),
      -10rem 8rem var(--color-porcelaine-blush-75),
      -15rem 12rem var(--color-porcelaine-blush-50),
      -20rem 18rem var(--color-porcelaine-blush-25);
  }
  50% {
    text-shadow:
      -5rem 6rem var(--color-porcelaine-blush),
      -10rem 12rem var(--color-porcelaine-blush-75),
      -15rem 18rem var(--color-porcelaine-blush-50),
      -20rem 24rem var(--color-porcelaine-blush-25);
  }
  75% {
    text-shadow:
      0rem 6rem var(--color-porcelaine-blush),
      -5rem 12rem var(--color-porcelaine-blush-75),
      -10rem 18rem var(--color-porcelaine-blush-50),
      -20rem 24rem var(--color-porcelaine-blush-25);
  }
  100% {
    text-shadow:
      7rem 7rem var(--color-porcelaine-blush),
      14rem 14rem var(--color-porcelaine-blush-75),
      21rem 21rem var(--color-porcelaine-blush-50),
      28rem 28rem var(--color-porcelaine-blush-25);
  }
}
#work .shadow-spread {
  font-size: 6rem;
  line-height: 0.8em;
  text-shadow:
    7rem 7rem var(--color-porcelaine-blush),
    14rem 14rem var(--color-porcelaine-blush-75),
    21rem 21rem var(--color-porcelaine-blush-50),
    28rem 28rem var(--color-porcelaine-blush-25);
  margin-bottom: 5rem;
  animation-name: shadow-spread-animation;
  animation-timing-function: linear;
  animation-timeline: view(block);
  animation-range: contain 10% contain 90%;
  animation-fill-mode: both;
}
#work .shadow-spread .thin-left {
  display: block;
  text-align: left;
  font-weight: 300;
}
#work .shadow-spread .bold-right {
  display: block;
  text-align: right;
  font-weight: 800;
}

#work .media {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
#work .media:last-of-type {
  margin-bottom: 0;
}
#work .media .media_body,
#work .media .media_figure {
  flex: 1 .5em;
}
#work .media .media_body h2,
#work .media .media_body p {
  margin-bottom: 1.5rem;
}
#work .media .media_figure {
  border: solid 2px black;
  height: fit-content;
}
#work .media:nth-child(odd) .media_figure {
  order: 0;
}
#work .media:nth-child(odd) .media_body {
  order: 1;
}

/***********************************
		RESPONSIVE MEDIA QUERIES
*********************************/

@media only screen and (max-width: 48rem) {
  #hero {
    min-height: 52rem;
    background-position: calc(50% + 8rem) 0%, calc(50% - 14rem) 100%;
  }
  #hero .hero-img > img {
    width: 60vw;
    margin-left: auto;
  }
  #hero .mindset {
    transform: rotate(90deg) translateX(-16rem);
    right: auto;
    left: 0;
  }
  @keyframes shadow-splash-animation {
    0% {
      text-shadow:
        rgb(0, 0, 0) 2px 0px 0px,
        rgb(0, 0, 0) 1.75517px 0.958851px 0px,
        rgb(0, 0, 0) 1.0806px 1.68294px 0px,
        rgb(0, 0, 0) 0.141474px 1.99499px 0px,
        rgb(0, 0, 0) -0.832294px 1.81859px 0px,
        rgb(0, 0, 0) -1.60229px 1.19694px 0px,
        rgb(0, 0, 0) -1.97998px 0.28224px 0px,
        rgb(0, 0, 0) -1.87291px -0.701566px 0px,
        rgb(0, 0, 0) -1.30729px -1.5136px 0px,
        rgb(0, 0, 0) -0.421592px -1.95506px 0px,
        rgb(0, 0, 0) 0.567324px -1.91785px 0px,
        rgb(0, 0, 0) 1.41734px -1.41108px 0px,
        rgb(0, 0, 0) 1.92034px -0.558831px 0px,
        0rem 0rem var(--color-tropical-mint),
        0rem 0rem black;
    }
    100% {
      text-shadow:
        rgb(0, 0, 0) 2px 0px 0px,
        rgb(0, 0, 0) 1.75517px 0.958851px 0px,
        rgb(0, 0, 0) 1.0806px 1.68294px 0px,
        rgb(0, 0, 0) 0.141474px 1.99499px 0px,
        rgb(0, 0, 0) -0.832294px 1.81859px 0px,
        rgb(0, 0, 0) -1.60229px 1.19694px 0px,
        rgb(0, 0, 0) -1.97998px 0.28224px 0px,
        rgb(0, 0, 0) -1.87291px -0.701566px 0px,
        rgb(0, 0, 0) -1.30729px -1.5136px 0px,
        rgb(0, 0, 0) -0.421592px -1.95506px 0px,
        rgb(0, 0, 0) 0.567324px -1.91785px 0px,
        rgb(0, 0, 0) 1.41734px -1.41108px 0px,
        rgb(0, 0, 0) 1.92034px -0.558831px 0px,
        0.5rem 0.5rem var(--color-tropical-mint),
        1rem 1rem black;
    }
  }

  #about {
    background-position: calc(50% - 14rem) 0;
  }

  .references {
    grid-gap: 3rem;
  }
  .references .ref-item,
  .ref-item.primary-ref {
      flex-grow: 1;
      flex-shrink: 1;
  }
  .ref-item.primary-ref .ref-item_quote {
    font-size: 2rem;
  }
  .ref-item_from_name {
    font-size: 1.25rem;
  }
  .ref-item_from_role {
    font-size: .875rem;
    font-weight: 400;
  }

  #approach {
    background-position: -20vw 2rem;
  }
  .lavender-frost-textured-title {
    background-size: 16rem;
    font-size: 3.725rem;
    line-height: 3.725rem;
  }
  #approach .intro {
    width: 22rem;
    left: auto;
    top: -3rem;
    right: -1.5rem;
    padding-right: 1.5rem;
  }

  #approach .principle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  #approach .principle > * {
    flex: 1;
  }
  #approach span.shadow-splash {
    position: relative;
    flex: 0;
    top: auto;
    padding-right: 2rem;
    animation: unset;
  }
  #approach .principle h2 {
    margin-bottom: 0rem;
    text-align: right;
  }
  #approach .principle p {
    width: auto;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    order: 2;
    margin-bottom: 0;
  }
  #approach .principle:nth-child(odd) h2{
    text-align: left;
  }
  #approach .principle:nth-child(odd) span.shadow-splash{
    right: auto;
  }
  #approach .principle:nth-child(even) span.shadow-splash{
    order: 1;
    padding-right: 0;
    padding-left: 2rem;
  }
  #approach .principle:nth-child(even) p{
    margin-left: 0;
  }
  #work .shadow-spread > span {
    font-size: 3.375rem;
    line-height: 0.9em;
  }
  #work .shadow-spread {
    text-shadow:
      4.5rem 4.5rem var(--color-porcelaine-blush),
      9rem 9rem var(--color-porcelaine-blush-75),
      13.5rem 13.5rem var(--color-porcelaine-blush-50),
      18rem 18rem var(--color-porcelaine-blush-25);
    animation: unset;
    margin-bottom: 3rem;
  }

  #work .media {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
  }
  #work .media .media_figure {
    order: 0;
    height: 14rem;
    overflow: hidden;
    flex: auto;
  }
  #work .media .media_figure img {
    height: auto;
  }
  #work .media .media_body {
    order: 1;
  }
  #work .media .media_body h2,
  #work .media .media_body p {
    margin-bottom: 1rem;
  }
  #page-footer a {
    font-size: 4rem;
  }
  #page-footer a::after {
    margin-top: -1rem;
  }
}
